<!DOCTYPE html>
<html ng-app="neuronautReport">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.1.15-beta/nv.d3.min.css">
    <style>
    #rmse_chart svg {
      width: 100%;
      height: 300px;
    }
    video {
       width:100%;
       border:none;
       background-color: #6ECFF6;
       padding:20px;
    }
   body {
      background: #FFFFFF;
   }

        .seeker {
            width: 100%;
        }
    </style>
  </head>
  <body ng-controller="MainController">
    <div class="container">
      <div class="row">

 <!-- Static navbar -->
      <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">neuronaut-report</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><p class="navbar-text">neuronaut-report</p></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </div>
        <div ng-if="data != undefined">
            <div class="col-lg-6">
                <table class="table table-hover">
                    <caption>Dataset</caption>
                    <tbody>
                        <tr ng-repeat="(key, val) in data.description">
                            <td>{{ key }}</td>
                            <td>{{ val }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-6">
                <table class="table table-hover">
                    <caption>Network Layers</caption>
                    <thead>
                      <tr>
                        <th ng-repeat="(key, val) in data.layers[0]">{{ key }}</th>
                      </tr>
                   </thead>
                    <tbody>
                        <tr ng-repeat="layer in data.layers">
                            <td ng-repeat="(key, val) in layer">{{ val }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-6">
                <table class="table table-hover">
                    <caption>Summary</caption>
                    <tbody>
                        <tr ng-repeat="(key, val) in data.summary">
                            <td>{{ key }}</td>
                            <td>{{ val }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr/>
            <div>
                <nvd3-line-chart
                    id="rmse_chart"
                    data="history"
                    showXAxis="true"
                    showYAxis="true"
                    tooltips="true"
                    tooltipContent="toolTipContentFunction()"
                    useInteractiveGuideLine="false"
                    forcey="{{ ylims() }}"
                    yAxisTickFormat="yAxisTickFormatFunction()"
                    interactive="true">
                </nvd3-line-chart>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-inline">
                            <div class="input-group">
                                <button class="btn btn-primary" ng-click="currentStep=0; playing=true;" ng-show="!playing"><span class="glyphicon glyphicon-play"></span></button>
                                <button class="btn btn-danger" ng-click="playing=false;" ng-show="playing"><span class="glyphicon glyphicon-pause"></span></button>
                            </div>

                            <div class="input-group col-lg-6">
                                <seeker min="0" max="state.num_steps" value="state.currentStep" class="form-control"></seeker>
                            </div>

                            <div class="input-group">
                              <div class="input-group-addon">Step</div>
                              <input type="number" ng-model="state.currentStep" step="5" class="form-control">
                            </div><!-- /input-group -->


                            <div class="input-group">
                              <div class="input-group-addon">RMSE</div>
                              <span class="form-control uneditable-input">{{ state.currentRMSE }}</span>
                            </div>
                    </div>
                </div>
            </div>

            <div ng-init="tab='weights'">
                <ul class="nav nav-tabs" >
                  <li ng-class="{active: tab=='weights'}" ng-click="tab='weights'"><a>Weights</a></li>
                  <li ng-class="{active: tab=='updates'}" ng-click="tab='updates'"><a>Updates</a></li>
                  <li ng-class="{active: tab=='confusion'}" ng-click="tab='confusion'"><a>Confusion</a></li>
                </ul>
                <div ng-show="tab == 'weights'">
                    <video preload="auto" rmse-video current-frame="state.currentStep" oncontextmenu="return false;" playing="playing" type="video/webm" src="training.webm"></video>
                </div>
                <div ng-show="tab == 'updates'">
                    <video preload="auto" rmse-video current-frame="state.currentStep" oncontextmenu="return false;" playing="playing" type="video/webm" src="step_sizes.webm"></video>
                </div>
                <div ng-show="tab == 'confusion'">
                    <video preload="auto" rmse-video current-frame="state.currentStep" oncontextmenu="return false;" playing="playing" type="video/webm" src="confusion.webm"></video>
                </div>
            </div>
          </div>
      </div>
    </div>

  <script src="../scripts/angular.min.js"></script>
  <script src="../scripts/d3.min.js"></script>
  <script src="../scripts/nv.d3.min.js"></script>
  <script src="../scripts/angularjs-nvd3-directives.min.js"></script>
  <script type="text/javascript">
    function findLimits(values) {
        var mi=values[0][1];
        var ma=values[0][1];
        var val;
        for (var i=0; i < values.length; i++) {
            val = parseFloat(values[i][1]);
            if (val < mi) { mi = val};
            if (val > ma) { ma = val};
        }
        return [mi, ma];
    }
    ////////////// Angular
    function MainController($scope) {

        $scope.data = JSON.parse(document.getElementById("data").innerHTML);
        $scope.data.layers = [{'#neurons' : 32, 'function' : 'logistic'}, {'#neurons' : 16, 'function' : 'logistic'}, {'#neurons' : 1, 'function' : 'logistic'}]
        $scope.state = {
            currentStep : 0,
            playing: false,
            num_steps: $scope.data['history'].length * 5
        };

        $scope.history = [{
            "key" : "RMSE",
            "values" : $scope.data['history']
        }]

        $scope.$watch("state.currentStep", function() {
           var idx = Math.min(Math.ceil($scope.state.currentStep / 5), $scope.data.history.length-1);
           $scope.state.currentRMSE = $scope.data.history[idx][1].toFixed(4);
        });
        $scope.ylims = function() {
            return findLimits($scope.data['history']);
        }

        $scope.$on('elementClick.directive', function(angularEvent, event){
            var step = Math.round(event.point[0]);
            console.log(step)
            $scope.state.currentStep = step;
            $scope.$apply();
        });

        $scope.toolTipContentFunction = function(){
            return function(key, x, y, e, graph) {
                var step = Math.round(e.point[0]);
                return  '<b>'+key+'</b>' +
                    '<p>' + y + ' at step ' + x + '</p>'
                    +'<p><i>click to seek here</i></p>'
            }
        }

        $scope.yAxisTickFormatFunction = function(){
            return function(a, b, c, d) {
                return a.toFixed(4);
            }
        }
    }
    
    var app = angular.module('neuronautReport', ['nvd3ChartDirectives']);
    app.controller("MainController", ["$scope", MainController]);

    app.directive('rmseVideo', function ($window, $timeout) {
        return {
            scope: {
                currentFrame: "=",
                playing: "=",
                playbackRate: "=?",
                frameRate: "=?",
                validationFrequency: "=?"
            },
            controller: function($scope) {
                console.log("controller");
                $scope.playbackRate = angular.isDefined($scope.playbackRate) ? $scope.playbackRate : 1.0;
                $scope.frameRate = angular.isDefined($scope.frameRate) ? $scope.frameRate : 30.0;
                $scope.validationFrequency = angular.isDefined($scope.validationFrequency) ? $scope.validationFrequency : 10.0;
            },
            link: function (scope, elm) {
                console.log("link");
                scope.playbackRate = elm[0].defaultPlaybackRate;

                var init = function() {
                    var duration = elm[0].duration;
                    var buffered = elm[0].buffered.end(0);
                    if (buffered + 0.0001 >= duration) {
                        clearInterval(wait_for_video);
                        make_bindings();
                        console.log("video is ready: " + buffered + " - " + duration);
                    } else {
                        console.log("video not ready yet: " + buffered + " - " + duration);
                    }
                };
                var wait_for_video = setInterval(init, 100);


                var heartBeat;
                function updateFrame() {
                    scope.currentFrame += scope.validationFrequency;
                    scope.$apply();
                }


                function make_bindings() {
                    scope.$watch('currentFrame', function(newVal){
                        var newTime = newVal / (scope.frameRate * scope.validationFrequency);
                        scope.lastTime = newTime;
                        elm[0].currentTime = newTime;
                    });

                    elm.bind('ended', function(e){
                        scope.playing = false;
                        scope.$apply();
                    });

                    scope.$watch('playing', function(newVal){
                        console.log("playing " + newVal);
                        if (newVal) {
                            clearInterval(heartBeat);
                            heartBeat = setInterval(updateFrame, 1000.0 / scope.frameRate);
                        } else {
                            clearInterval(heartBeat);
                        }
                    });

                    scope.$watch('playbackRate', function(newVal){
                        console.log("new playback rate " + newVal);
                        elm[0].playbackRate = newVal;
                    });

                    scope.$apply();
                }


            }
        }
    });


    app.directive('seeker', function ($window) {
        return {
            template: '<input style="width:100%" type="range"/>',
            scope: {
                value: "=",
                max: "=",
                min: "="
            },
            link: function (scope, elm, attrs) {
                console.log(elm);
                var input = elm.find('input')[0];

                function watchValue(newVal) {
                    input.value = newVal;
                };

                scope.$watch('value', watchValue);
                scope.$watch('max', function(newVal){
                    input.max = newVal;
                });
                scope.$watch('min', function(newVal){
                    input.min = newVal;
                });

                elm.bind('input', function(e){
                    scope.value = parseInt(input.value, 10);
                    scope.$apply();
                });
            }
        }
    });
  </script>
  <script type="application/json" id="data">${data}</script>
  </body>
</html>​
